body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e5e5e5;
    color: #3f3f3f;
    font-size: 16px;
    line-height: 24px;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-attachment: fixed; 
}

a {
    color: #000088;
}

a:hover {
    color: #880000;
}

#wrap {
    margin: 40px auto;
    width: 940px;
    background: #fff;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#header {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background: #f9f9f9;
    padding: 20px 0 40px 0;
}

#header h1 {
    margin: 0;
    padding: 0 0 0 30px;
    font-weight: bold;
    color: #3f3f3f;
    font-size: 38px;
    line-height: 65px;
    letter-spacing: -1px;
}

#header h2 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 0 0 20px;
    padding: 5px 12px;
    font-weight: normal;
    color: #171717;
    font-size: 22px;
    letter-spacing: -1px;
    background: #FFEE9F;
    border: 1px solid #FFE25F;
    display: inline;
}

#topmenu {
    background: #f1f1f1;
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

#topmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#topmenu li {
    display: inline;
    padding: 0 20px 0 0
}

#topmenu li a {
    text-decoration: none;
}

.search {
    float: right;
}

#menu {
    font-size: 14px;
    float: right;
    width: 300px;
    color: #fff;
    margin: 30px 20px 20px 0;
}

#menu h3 {
    font-weight: normal;
    background: #5f5f5f;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
}

#menu ul {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    list-style-type: none;
    margin: 0;
    padding: 0 10px 10px 10px;
}

#menu ul li a {
    color: #12c;
    text-decoration: none;
    border-bottom: 1px dotted #12c;
}

#menu ul li a:hover {
    color: #c12;
    border-bottom: 1px dotted #c12;
}

#content {
    float: left;
    width: 580px;
    margin: 10px 0 40px 20px;
}

#content h2 {
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
}

#content h3 {
    font-size: 17px;
    font-weight: normal;
}

.cright {
    float: right;
    width: 32%;
    margin: 0 20px 0px 20px;
}

#footer {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    background: #3f3f3f;
    color: #fff;
    padding: 20px;
    border-top: 1px solid #1f1f1f;
}

#footer a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

#footer a:hover {
    border-bottom: 1px dotted #ccc;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.about,
.contact {
    padding: 20px;
}

.ownCreative {
    padding: 0px 5px 30px 5px;
}

#about {
    padding: 20px;
}

.description1,
.description2,
.artifacts,
.assignments {
    padding: 20px;
}

/* Thank you page */
.thankyou {
    text-align: center;
    margin-top: 50px;
    padding: 0px 0px 10px 10px;
}

/* About page */
.ownCreative {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#interestsButton {
    width: 20%;
    padding: 20px;
    background-color: #4CAF50;
    font-size: medium;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.full-width-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}


/* My personal interests page */
.interests {
    padding: 20px;
}

p {
    margin-bottom: 20px;
}

/* Images on my personal page */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 0px 20px 0px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

/* Audio player */
.audio-container {
    width: 500px;
    padding: 0px 0px 20px 20px;

}

#play {
    margin-bottom: 10px;
}


/* Contact me page */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"][name="name"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type="submit"][name="contact-submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"][name="contact-submit"]:hover {
    background-color: #45a049;
}

/* Validated page */
.validation-container {
    display: flex;
    padding: 20px;
}

.left-column,
.right-column {
    flex: 1;
}

.screenshot {
    margin-bottom: 20px;
}

.screenshot img {
    width: 100%;
}

.screenshot p {
    text-align: center;
}